.menu_div ul
{
    position: absolute;
    display: block;
    width: 25%;
    top : 29.5%;
    right: 2.6%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}

.menu_div ul li
{
    background:#f39c12;
    line-height:45px;
    border-bottom:1px solid #d35400;
    text-decoration:none;
    color:#FFF;
}
.menu_div ul li:hover
{
    cursor : pointer;
    background:#e67e22;
}
.menu_div ul li#active
{
    text-align: center;
    background:#d35400;
    display:block;
}
