.menu_div ul
{
    position: absolute;
    display: block;
    width:30%;
    top : 5px;
    right: 4%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}
.menu_div ul li
{
    background:#3f3f3f;
    line-height:45px;
    border-bottom:1px solid #333;
    text-decoration:none;
    color:#FFF;
    display:block;
}
.menu_div ul li:hover
{
    cursor : pointer;
    background:#d40203;
}
.menu_div ul li#active
{
    text-align: center;
    background:#d40203;
}