/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2014, 1:36:43 PM
    Author     : Phuchit
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
    html{    
    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
    background-size: cover;
    height:100%;
    }

    body{
        margin: 15px;
        height: 100%;
        width: 100%;
        margin-left: 10px;
        margin-right: auto;
    }
    #map-canvas{
        width: 60%;
        height: 60%;
    }
    
    form {
        width : 100%
    }
    .Text{
        display : block;
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
        margin :25px auto 25px auto;
	width:80%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
    }
    
    .Text:focus{
        background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
        padding: 13px 13px 13px 54px; 
    }

    .button{
        display :inline-block;
        margin: 7px;
        padding : 10px;
        width: 30%;
        height: 60px;
        font-size: 22px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #3498db;
        border: 0;
        border-bottom: 2px solid #2a8bcc;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #2a8bcc;
        box-shadow: inset 0 -2px #2a8bcc;
    }
    .button:active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    
    .wrap_button{
        text-align: center;
        display : block;
        margin: auto;
    }
    
    #form-main{
        position: absolute;
	float:left;
        width: 60%;
	padding-top:0px;
    }

    #form-div {
        position: absolute;
	background-color:rgba(72,72,72,0.4);
	//padding-left:35px;
	//padding-right:35px;
	padding-top:35px;
	padding-bottom:35px;
	float: left;
	position: absolute;
        width: 100%;
        margin-top:25px;
        margin-bottom: 30px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
    }
    
