.menu_div ul#list
{
    position: absolute;
    display: inline-block;
    width: 348px;
    top: 169px;
    left: 941px;
/*    margin-top: -220px;
    margin-left: -40px;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFF;
    list-style: none;
    text-indent:15px;
}

.menu_div ul#list li
{
    background:#1abc9c;
    line-height:45px;
    border-bottom:1px solid #16a085;
    text-decoration:none;
    color:#FFF;
/*    margin-right: 50px; */
}
.menu_div ul#list li:hover
{
    cursor : pointer;
    background:#16a085;
}
.menu_div ul#list li#active
{
    text-align: center;
    background:#16a085;
    display:block;
}
