.menu_div ul
{
    position: absolute;
    display: inline-block;
    width: 350px;
    top: 234px;
    left: 930px;
    font-family:SourceSansPro-Regular;
    font-size:12px;
    color:#FFF;
    list-style: none;
    text-indent:15px;
}

.menu_div ul li
{
    background:#fff;
    line-height:45px;
    border-bottom:1px solid #4bb5c1;
    text-decoration:none;
    color:#2185c5;
/*    margin-right: 50px; */
}
.menu_div ul li:hover
{
    cursor : pointer;
    background:#7fc6bc;
    color: #fff;
}
.menu_div ul li#active
{
    text-align: center;
    background:#4bb5c1;
    color: #fff;
    display:block;
}
