#navcontainer { /* none needed */ }

#navlist {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
}

#navlist li {
        float: left;
        font-family: verdana, arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding: 5px 0 4px 0;
        background-color: #eef4f1;
        border-top: 1px solid #e0ede9;
        border-bottom: 1px solid #e0ede9;
		width: 665px;
}

#navlist a, #navlist a:link {
        margin: 0;
        padding: 5px 570px 4px 9px;
        color: #95bbae;
        border-right: 1px dashed #d1e3db;
        text-decoration: none;
		width: 665px;
}

#navlist li.active,#navlist li a:hover{
        color: #95bbae;
        background-color: #deebe5;
		width: 665px;
}

.tab {
        display:none;
}
 
.tab.active {
        display:block;
}

.tab-content {
        padding:15px;
/*        border-radius:3px;*/
/*        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
        background:#deebe5;
        margin-top: 0px;
        margin-left: 0px;
        height: 100%;
		width:1300px;
}