#navcontainer { /* none needed */ }

#navlist {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
}

#navlist li {
        float: left;
        font-family: verdana, arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding: 20px 0 18px 0;
        background-color: #7fc6bc;
        border-bottom: 1px solid #edf7f2;
	width: 665px;
}

#navlist a:link , #navlist a {
        margin: 0;
        padding: 20px 570px 18px 9px;
        color: #3e454c;
/*        border-right: 1px dashed #4bb5c1;*/
        text-decoration: none;
	width: 665px;
}

#navlist li.active{
        color: #3e454c;
        background-color: #edf7f2;
	width: 665px;
}

/*#navlist li a:hover{
        color: #fff6e5;
        background-color: #e08283;
	width: 665px;
}*/

.tab {
        display:none;
}
 
.tab.active {
        display:block;
}

.tab-content {
        padding:15px;
/*        border-radius:3px;*/
/*        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
        background-color: #edf7f2;
        margin-top: 0px;
        margin-left: 0px;
        height: 100%;
	width:1300px;
}