/*----- Tabs -----*/
.tabs {
    width:100%;
    display: block;
    list-style: none;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
/*        margin:10px 10px 10px 10px;*/
        float:left;
        list-style:none;
        width: 440px;
    }
 
        .tab-links a {
            padding: 15px 15px 15px 15px;
            margin-left: -30px;
            display: block;
/*            border-radius:10px 10px 0px 0px;*/
            background:#00b0d2;
            font-size:16px;
/*            font-weight:600;*/
            color:#fff;
/*            transition:all linear 0.15s;*/
            text-decoration:none;
            border-left-color: #333333;
            border-left-style: solid;
            border-left-width: 1px;
            font-family: Helvetica, Arial, sans-serif;
        }
 
        .tab-links a:hover {
            background:#006496;
            color:#fff;
            text-decoration:none;
            font-weight:bold;
        }
 
    li.active a{
        background:#e6f7f9;
        color:#333;
        font-weight:bold;
    }
    
    li.active a:hover {
        background:#006496;
        color:#fff;
        font-weight:bold;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
/*        border-radius:3px;*/
/*        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
        background:#e6f7f9;
        margin-top: -16px;
        margin-left: 10px;
        width: 1320px;
        height: 555px;
        overflow: hidden;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

