/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2014, 1:36:43 PM
    Author     : Phuchit
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
    html{    
/*    background:url("http://image.ohozaa.com/i/335/VBtQU.gif") repeat;*/
        background: #333333;
/*    background-attachment:scrollbar;*/
    height:100%;
    }
    body{
/*        margin: 15px;*/
        height: 100%;
        width: 100%;
/*        margin-left: 10px;
        margin-right: auto;*/
    }
    #map-canvas{
/*        position : absolute;*/
/*        margin : 9% 0 0 15%;*/
        width: 710px;
        height: 440px;
    }
    .Text{
        display : block;
        left: 15%;
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #ffffff;
	padding: 13px 13px 13px 13px;
        margin :0 0 25px 0;
	width:99%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
    }
    .Text2{
        /*display : block;*/
        left: 15%;
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
/*	background-color: #fbfbfb;*/
	padding: 0 0 0 13px;
        margin :0 0 18px 0;
	width:95%;
    }
    .Text3{
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	padding: 0 0 0 13px;
        margin :0 0 18px 0;
        height: 40px;
        width: 1080px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
    }
    .Text4{
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	padding: 0 0 0 0px;
        margin :0 0 18px 0;
        height: 40px;
        text-align: center;
    }
    
    .Text5{
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	padding: 0 0 0 0px;
        margin :0 0 18px 0;
        height: 40px;
        text-align: center;
        text-decoration: underline;
    }
    
    .Text5:hover{
        cursor: pointer;
    }
    
    #tablebody{
        margin-left: -11px;
        margin-top: -20px;
    }
    
    .Text:focus{
        background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
        padding: 13px 13px 13px 54px; 
    }
    
    .button2{
        display :inline-block;
        padding : 10px 10px 10px 15px;
        width: 220px;
        height: 40px;
        border-radius:5px;
        font-size: 14px;
        color: white;
        text-align: left;
        background: #1abc9c;
        border: 0;
        border-bottom: 0 solid #333333;
        cursor: pointer;
        -webkit-box-shadow: inset 0 0 #333333;
        box-shadow: inset 0 0 #333333;
    }

.button2:hover {
	background-color:#16a085;
        font-weight:bold;
}
/*.button2:active {
	position:relative;
	background-color:#16a085;
}*/

/*.combobox{
    width: 300px;
    height: 40px;
    background-color: #1abc9c;
    border-color: #16a085;
    border-radius: 5px;
}*/

/*.button3{
        display :inline-block;
        padding : 10px 10px 10px 10px;
        width: 100px;
        height: 40px;
        border-radius:5px;
        font-size: 14px;
        color: white;
        text-align: center;
        background: #1abc9c;
        border: 0;
        border-bottom: 0 solid #333333;
        cursor: pointer;
        -webkit-box-shadow: inset 0 0 #333333;
        box-shadow: inset 0 0 #333333;
    }

.button3:hover {
	background-color:#16a085;
        font-weight:bold;
}*/

.searchtable{
    background-color: #9cd6d6;
    border-color: #9cd6d6;
}

.searchtable tr{
    background-color: #f5feff;
}

.containBody{
		height:380px;
		display:block;
		overflow: auto;
		border-bottom:0px solid #f39c12;
                margin-left: -11px;
}
.tbl_headerFix{
		border-bottom:0px;
                background-color: #9cd6d6;
                border-color: #9cd6d6;
}
.tbl_headerFix tr{
		background-color: #f5feff;
}

#directions-panel {
        height: 550px;
        float: left;
        width: 1320px;
        overflow: auto;
}

.buttonx{
        display :inline-block;
        padding : 10px 10px 10px 10px;
/*        width: 100px;
        height: 40px;*/
        border-radius:5px;
        font-size: 14px;
        color: white;
        text-align: center;
        background: #1abc9c;
        border: 0;
        border-bottom: 0 solid #333333;
        cursor: pointer;
        -webkit-box-shadow: inset 0 0 #333333;
        box-shadow: inset 0 0 #333333;
    }

.buttonx:hover {
	background-color:#16a085;
        font-weight:bold;
}