/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2014, 1:36:43 PM
    Author     : Phuchit
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
    html{    
    background:url(http://rmbiggs.files.wordpress.com/2011/03/vertical.png) repeat;
    height:100%;
    }

    body{
        margin: 15px;
        height: 100%;
        width: 100%;
        margin-left: 10px;
        margin-right: auto;
    }
    #map-canvas{
        position : absolute;
        margin : 6% 0 0 15%;
        width: 50.5%;
        height: 80%;
    }
    .Text{
        display : block;
        left: 15%;
        color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 13px;
        margin :0 0 25px 0;
	width:99%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
    }
    
    .Text:focus{
        background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
        padding: 13px 13px 13px 54px; 
    }

    .button{
        display :inline-block;
        padding : 0.6%;
        width: 40%;
        height: 60px;
        font-size: 22px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #3498db;
        border: 0;
        border-bottom: 2px solid #2a8bcc;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #2a8bcc;
        box-shadow: inset 0 -2px #2a8bcc;
    }
    
    .button2{
        display :inline-block;
        padding : 0.6%;
        width: 14%;
        height: 7%;
        font-size: 18px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #999999;
        border: 0;
        border-bottom: 2px solid #333333;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #333333;
        box-shadow: inset 0 -2px #333333;
    }
    
    #b1{
        margin-right:  6%;
        margin-left: -7.5%;
    }
    
    #b2{
        margin-right:  1.5%;
        margin-left: 4%;
    }
    
    .button:active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    
    .wrap_button{
        position: absolute;
        text-align: center;
        display : block;
        width : 100%;
        top : 56%;
    }
    
    #form-main{
        position: absolute;
        margin : 1.5% 0 0 15%;
        top : 53%;
	float:left;
        width: 44%;
        height: 25%;
	padding-top:0px;
    }

    #form-div {
        position: absolute;
	background-color:rgba(72,72,72,0.4);
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
	float: left;
	position: absolute;
        width: 100%;
        height: 100%;
        margin-top:5%;
        margin-bottom: 5%;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
    }
    
    #form-div-left {
        position: absolute;
	background-color:rgba(200,200,200,1);
	float: left;
	position: absolute;
        width: 11.5%;  
        height: 100%;
    }
    
